@use './mixin' as *;

$light-colors: (
  blackOpacity50: rgba(0, 23, 51, 0.02),
  blackOpacity100: rgba(2, 32, 71, 0.05),
  blackOpacity200: rgba(0, 27, 55, 0.1),
  blackOpacity300: rgba(0, 29, 58, 0.18),
  blackOpacity400: rgba(0, 25, 54, 0.31),
  blackOpacity500: rgba(3, 24, 50, 0.46),
  blackOpacity600: rgba(0, 19, 43, 0.58),
  blackOpacity700: rgba(3, 18, 40, 0.7),
  blackOpacity800: rgba(0, 12, 30, 0.8),
  blackOpacity900: rgba(2, 9, 19, 0.91),
  blueDisabled500: #c9e2ff,
  defaultBackground: #ffffff,
  layeredBackground: #ffffff,
  floatBackground: #ffffff,
  dimmedBackground: rgba(0, 0, 0, 0.56),
  greyBorder: #e5e8eb,
  greyBackground: #f2f4f6,
  grey50: #f9fafb,
  grey100: #f2f4f6,
  grey200: #e5e8eb,
  grey300: #d1d6db,
  grey400: #b0b8c1,
  grey500: #8b95a1,
  grey600: #6b7684,
  grey700: #4e5968,
  grey800: #333d4b,
  grey900: #191f28,
  greyOpacity50: rgba(0, 23, 51, 0.02),
  greyOpacity100: rgba(2, 32, 71, 0.05),
  greyOpacity200: rgba(0, 27, 55, 0.1),
  greyOpacity300: rgba(0, 29, 58, 0.18),
  greyOpacity400: rgba(0, 25, 54, 0.31),
  greyOpacity500: rgba(3, 24, 50, 0.46),
  greyOpacity600: rgba(0, 19, 43, 0.58),
  greyOpacity700: rgba(3, 18, 40, 0.7),
  greyOpacity800: rgba(0, 12, 30, 0.8),
  greyOpacity900: rgba(2, 9, 19, 0.91),
  blue50: #e8f3ff,
  blue100: #c9e2ff,
  blue200: #90c2ff,
  blue300: #64a8ff,
  blue400: #4593fc,
  blue500: #3182f6,
  blue600: #2272eb,
  blue700: #1b64da,
  blue800: #1957c2,
  blue900: #194aa6,
  blueOpacity50: rgba(100, 168, 255, 0.15),
  blueOpacity100: rgba(100, 168, 255, 0.34),
  blueOpacity200: rgba(100, 168, 255, 0.7),
  red50: #ffeeee,
  red100: #ffd4d6,
  red200: #feafb4,
  red300: #fb8890,
  red400: #f66570,
  red500: #f04452,
  red600: #e42939,
  red700: #d22030,
  red800: #bc1b2a,
  red900: #a51926,
  redOpacity50: rgba(251, 136, 144, 0.15),
  redOpacity100: rgba(251, 136, 144, 0.34),
  redOpacity200: rgba(251, 136, 144, 0.7),
  orange50: #fff3e0,
  orange100: #ffe0b0,
  orange200: #ffcd80,
  orange300: #ffbd51,
  orange400: #ffa927,
  orange500: #fe9800,
  orange600: #fb8800,
  orange700: #f57800,
  orange800: #ed6700,
  orange900: #e45600,
  yellow50: #fff9e7,
  yellow100: #ffefbf,
  yellow200: #ffe69b,
  yellow300: #ffdd78,
  yellow400: #ffd158,
  yellow500: #ffc342,
  yellow600: #ffb331,
  yellow700: #faa131,
  yellow800: #ee8f11,
  yellow900: #dd7d02,
  yellowOpacity50: rgba(255, 195, 66, 0.2),
  yellowOpacity100: rgba(255, 195, 66, 0.35),
  yellowOpacity200: rgba(255, 195, 66, 0.6),
  green50: #f0faf6,
  green100: #aeefd5,
  green200: #76e4b8,
  green300: #3fd599,
  green400: #15c47e,
  green500: #03b26c,
  green600: #02a262,
  green700: #029359,
  green800: #028450,
  green900: #027648,
  greenOpacity50: rgba(21, 196, 126, 0.15),
  teal50: #edf8f8,
  teal100: #bce9e9,
  teal200: #89d8d8,
  teal300: #58c7c7,
  teal400: #30b6b6,
  teal500: #18a5a5,
  teal600: #109595,
  teal700: #0c8585,
  teal800: #097575,
  teal900: #076565,
  purple50: #f9f0fc,
  purple100: #edccf8,
  purple200: #da9bef,
  purple300: #c770e4,
  purple400: #b44bd7,
  purple500: #a234c7,
  purple600: #9128b4,
  purple700: #8222a2,
  purple800: #73228e,
  purple900: #65237b,
  whiteDimmed: rgba(0, 0, 0, 0.2),
  whiteLevelB01: #f2f4f6,
  whiteLevel01: #ffffff,
  whiteLevel02: #ffffff,
  whiteLevel03: #ffffff,
  whiteLevel04: #ffffff,
  whiteScreen: #f6f7f9,
  tGradientToTop: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0)),
  tGradientToBottom: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0)),
  tGradientToRight: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0)),
  tGradientToLeft: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0)),
  tLayeredGradientToTop: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0)),
  tLayeredGradientToBottom: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0)),
  tRadioIndicatorBackgroundColor: #ffffff,
  tToastBackground: rgba(25, 31, 40, 0.54),
  tDarkFillButtonBackground: #4e5968,
  tPrimaryWeakButtonBackground: #e8f3ff,
  tDangerWeakButtonBackground: #ffeeee,
  tDarkWeakButtonBackground: #f2f4f6,
  tLightWeakButtonBackground: rgba(222, 222, 255, 0.19),
  tButtonPressedAfterBackground: transparent,
  tPrimaryWeakButtonPressedBackground: rgba(49, 130, 246, 0.26),
  tDangerWeakButtonPressedBackground: rgba(244, 67, 54, 0.26),
  tDarkWeakButtonPressedBackground: rgba(78, 89, 104, 0.26),
  tLightWeakButtonPressedBackground: rgba(255, 255, 255, 0.26),
  tBlueBadgeColor: #1b64da,
  tBlueBadgeBackground: rgba(49, 130, 246, 0.29),
  tTealBadgeColor: #0c8585,
  tTealBadgeBackground: rgba(16, 149, 149, 0.29),
  tGreenBadgeColor: #029359,
  tGreenBadgeBackground: rgba(3, 178, 108, 0.21),
  tRedBadgeColor: #d22030,
  tRedBadgeBackground: rgba(240, 68, 82, 0.21),
  tYellowBadgeColor: #dd7d02,
  tYellowBadgeBackground: rgba(255, 195, 66, 0.29),
  tGreyBadgeColor: #4e5968,
  tGreyBadgeBackground: rgba(78, 89, 104, 0.29),
  tSwiperBulletBackground: rgba(232, 232, 253, 0.36),
  tListRowDisabledBackground: rgba(253, 253, 255, 0.75),
  adaptiveShadowMedium: (0px 2px 10px rgba(23, 23, 28, 0.05),
    0px 2px 60px rgba(23, 23, 28, 0.05),
  ),
  adaptiveShadowMedium01: 0px 2px 10px rgba(23, 23, 28, 0.05),
  adaptiveShadowMedium02: 0px 2px 60px rgba(23, 23, 28, 0.05),
  adaptiveShadowLarge: (0px 10px 30px -3px rgba(78, 89, 104, 0.05),
    0px 15px 80px -5px rgba(78, 89, 104, 0.2),
  ),
  adaptiveShadowLarge01: 0px 10px 30px -3px rgba(78, 89, 104, 0.05),
  adaptiveShadowLarge02: 0px 15px 80px -5px rgba(78, 89, 104, 0.2),
  adaptiveTableBackground: #f9fafb,
);

$dark-colors: (
  blackOpacity50: rgba(209, 209, 253, 0.05),
  blackOpacity100: rgba(217, 217, 255, 0.11),
  blackOpacity200: rgba(222, 222, 255, 0.19),
  blackOpacity300: rgba(224, 224, 255, 0.27),
  blackOpacity400: rgba(232, 232, 253, 0.36),
  blackOpacity500: rgba(242, 242, 255, 0.47),
  blackOpacity600: rgba(248, 248, 255, 0.6),
  blackOpacity700: rgba(253, 253, 255, 0.75),
  blackOpacity800: rgba(253, 253, 254, 0.89),
  blackOpacity900: rgba(255, 255, 255, 1),
  blueDisabled500: rgba(49, 130, 246, 0.2),
  defaultBackground: #17171c,
  layeredBackground: #202027,
  floatBackground: #2c2c35,
  dimmedBackground: rgba(0, 0, 0, 0.2),
  greyBorder: #3c3c47,
  greyBackground: #101013,
  grey50: #202027,
  grey100: #2c2c35,
  grey200: #3c3c47,
  grey300: #4d4d59,
  grey400: #62626d,
  grey500: #7e7e87,
  grey600: #9e9ea4,
  grey700: #c3c3c6,
  grey800: #e4e4e5,
  grey900: #ffffff,
  greyOpacity50: rgba(209, 209, 253, 0.05),
  greyOpacity100: rgba(217, 217, 255, 0.11),
  greyOpacity200: rgba(222, 222, 255, 0.19),
  greyOpacity300: rgba(224, 224, 255, 0.27),
  greyOpacity400: rgba(232, 232, 253, 0.36),
  greyOpacity500: rgba(242, 242, 255, 0.47),
  greyOpacity600: rgba(248, 248, 255, 0.6),
  greyOpacity700: rgba(253, 253, 255, 0.75),
  greyOpacity800: rgba(253, 253, 254, 0.89),
  greyOpacity900: #ffffff,
  blue50: #202c4d,
  blue100: #23386a,
  blue200: #25478c,
  blue300: #265ab3,
  blue400: #2970d9,
  blue500: #3485fa,
  blue600: #449bff,
  blue700: #61b0ff,
  blue800: #8fcdff,
  blue900: #c8e7ff,
  blueOpacity50: rgba(52, 133, 250, 0.2),
  blueOpacity100: rgba(52, 133, 250, 0.33),
  blueOpacity200: rgba(52, 133, 250, 0.45),
  red50: #3c2020,
  red100: #562025,
  red200: #7a242d,
  red300: #9e2733,
  red400: #ca2f3d,
  red500: #f04251,
  red600: #fa616d,
  red700: #fe818b,
  red800: #ffa8ad,
  red900: #ffd1d3,
  redOpacity50: rgba(240, 66, 81, 0.2),
  redOpacity100: rgba(240, 66, 81, 0.33),
  redOpacity200: rgba(240, 66, 81, 0.4),
  orange50: #3d2500,
  orange100: #563200,
  orange200: #804600,
  orange300: #a85f00,
  orange400: #cf7200,
  orange500: #f18600,
  orange600: #fd9528,
  orange700: #ffa861,
  orange800: #ffc39e,
  orange900: #ffe4d6,
  yellow50: #3d2d1a,
  yellow100: #724c1e,
  yellow200: #b56f1d,
  yellow300: #eb8b1e,
  yellow400: #ffa126,
  yellow500: #ffb134,
  yellow600: #ffc259,
  yellow700: #ffd68a,
  yellow800: #ffe5b2,
  yellow900: #fff1d4,
  yellowOpacity50: rgba(235, 139, 30, 0.2),
  yellowOpacity100: rgba(235, 139, 30, 0.35),
  yellowOpacity200: rgba(235, 139, 30, 0.5),
  green50: #153729,
  green100: #135338,
  green200: #136d47,
  green300: #138a59,
  green400: #13a065,
  green500: #16bb76,
  green600: #26cf88,
  green700: #4ee4a6,
  green800: #82f6c5,
  green900: #ccffea,
  greenOpacity50: rgba(22, 187, 118, 0.2),
  teal50: #203537,
  teal100: #224e51,
  teal200: #226368,
  teal300: #247e85,
  teal400: #26939a,
  teal500: #2eaab2,
  teal600: #43bec7,
  teal700: #65d4dc,
  teal800: #9be8ee,
  teal900: #d6fcff,
  purple50: #3f2447,
  purple100: #522361,
  purple200: #66247b,
  purple300: #7b2595,
  purple400: #962fb5,
  purple500: #ae3dd1,
  purple600: #c353e5,
  purple700: #d77cf2,
  purple800: #eaacfc,
  purple900: #f6d9ff,
  whiteDimmed: rgba(0, 0, 0, 0.56),
  whiteLevelB01: #101013,
  whiteLevel01: #202027,
  whiteLevel02: #2c2c35,
  whiteLevel03: #3c3c47,
  whiteLevel04: #4d4d59,
  whiteScreen: #101013,
  tGradientToTop: linear-gradient(to top, #17171c, rgba(23, 23, 28, 0)),
  tGradientToBottom: linear-gradient(to bottom, #17171c, rgba(23, 23, 28, 0)),
  tGradientToRight: linear-gradient(to right, #17171c, rgba(23, 23, 28, 0)),
  tGradientToLeft: linear-gradient(to left, #17171c, rgba(23, 23, 28, 0)),
  tLayeredGradientToTop: linear-gradient(to top, #202027, rgba(32, 32, 39, 0)),
  tLayeredGradientToBottom: linear-gradient(to bottom, #202027, rgba(32, 32, 39, 0)),
  tRadioIndicatorBackgroundColor: #4d4d59,
  tToastBackground: rgba(217, 217, 255, 0.11),
  tDarkFillButtonBackground: #4d4d59,
  tPrimaryWeakButtonBackground: rgba(217, 217, 255, 0.11),
  tDangerWeakButtonBackground: rgba(217, 217, 255, 0.11),
  tDarkWeakButtonBackground: rgba(217, 217, 255, 0.11),
  tLightWeakButtonBackground: rgba(217, 217, 255, 0.11),
  tButtonPressedAfterBackground: rgba(0, 0, 0, 0.26),
  tPrimaryWeakButtonPressedBackground: rgba(217, 217, 255, 0.11),
  tDangerWeakButtonPressedBackground: rgba(217, 217, 255, 0.11),
  tDarkWeakButtonPressedBackground: rgba(217, 217, 255, 0.11),
  tLightWeakButtonPressedBackground: rgba(217, 217, 255, 0.11),
  tBlueBadgeColor: #1b64da,
  tBlueBadgeBackground: rgba(49, 130, 246, 0.29),
  tTealBadgeColor: #0c8585,
  tTealBadgeBackground: rgba(16, 149, 149, 0.29),
  tGreenBadgeColor: #029359,
  tGreenBadgeBackground: rgba(3, 178, 108, 0.21),
  tRedBadgeColor: #d22030,
  tRedBadgeBackground: rgba(240, 68, 82, 0.21),
  tYellowBadgeColor: #dd7d02,
  tYellowBadgeBackground: rgba(255, 195, 66, 0.29),
  tGreyBadgeColor: #4e5968,
  tGreyBadgeBackground: rgba(78, 89, 104, 0.29),
  tSwiperBulletBackground: rgba(0, 25, 54, 0.31),
  tListRowDisabledBackground: rgba(23, 23, 28, 0.7),
  adaptiveShadowMedium: (0px 2px 10px rgba(0, 0, 28, 0.2),
    0px 2px 60px rgba(0, 0, 28, 0.2),
  ),
  adaptiveShadowMedium01: 0px 2px 10px rgba(0, 0, 28, 0.2),
  adaptiveShadowMedium02: 0px 2px 60px rgba(0, 0, 28, 0.2),
  adaptiveShadowLarge: (0px 10px 30px -3px rgba(0, 0, 0, 0.15),
    0px 15px 80px -5px rgba(0, 0, 0, 0.35),
  ),
  adaptiveShadowLarge01: 0px 10px 30px -3px rgba(0, 0, 0, 0.15),
  adaptiveShadowLarge02: 0px 15px 80px -5px rgba(0, 0, 0, 0.35),
  adaptiveTableBackground: #1b1b21,
);

:root {
  @include setGlobalColors($light-colors);
  @include setColorClass($light-colors);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include setGlobalColors($dark-colors);
    @include setColorClass($dark-colors);
  }
}